<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhd.mapper.ArticleMapper">

    <!-- 映射 -->
    <!--<resultMap id="BaseArticleDtoMapper" type="com.lhd.dto.ArticleDto">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="subtitle" column="subtitle"/>
        <result property="author" column="author"/>
        <result property="tag" column="tag"/>
        <result property="classify" column="classify"/>
        <result property="click" column="click"/>
        <result property="cover" column="cover"/>
        <result property="updateTime" column="updateTime"/>
        <result property="createTime" column="createTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="createBy" column="createBy"/>
    </resultMap>-->


    <select id="selectArticleDtoList" parameterType="java.util.HashMap"
            resultType="com.lhd.dto.ArticleDto">
        SELECT b.id,b.title,b.subtitle,b.tagId,c.classify,b.cover,
                b.author,b.createTime
        FROM sys_blog b,sys_classify c
        <where>
            AND c.id = b.classifyId
            <if test='paramMap.classifyId != null and paramMap.classifyId != ""'>
                AND c.id = #{paramMap.classifyId}
            </if>
        </where>
        limit #{paramMap.startNo},#{paramMap.pageSize};
    </select>

    <select id="selectCountByClassifyId" parameterType="java.lang.String" resultType="int">
        SELECT count(*)
        FROM sys_blog b
        <where>
            <if test='paramMap.classifyId != null and paramMap.classifyId != ""'>
                AND b.classifyId = #{paramMap.classifyId}
            </if>
        </where>
    </select>

    <select id="selectArticleDto" parameterType="java.lang.String"
            resultType="com.lhd.dto.ArticleDto">
        SELECT b.id,b.title,b.subtitle,b.author,b.tagId,c.classify,
        b.click,b.cover,b.content,b.createTime
        FROM sys_classify c,sys_blog b
        <where>
            AND c.id = b.classifyId
            <if test='articleId != null and articleId != ""'>
                AND b.id = #{articleId}
            </if>
        </where>
    </select>

    <!-- 查询归档信息 -->
    <select id="selectArchive" resultType="com.lhd.dto.ArchiveDto"
            parameterType="java.lang.Integer">
        select month(createTime) aMonth,count(*) aCount,year(createTime) aYear
        from sys_blog
        where year (createTime) = #{year}
        group by month(createTime)
        ORDER BY month(createTime) DESC
    </select>


    <!-- 查询某年某月归档信息 -->
    <select id="selectArticleYM" parameterType="com.lhd.dto.ArchiveDto"
            resultType="com.lhd.dto.ArticleDto">
        select b.id,b.title,b.subtitle,b.author,b.tagId,c.classify,
        b.click,b.cover,b.content,b.createTime
        from sys_classify c,sys_blog b
        where year (createTime) = #{aYear} and c.id = b.classifyId
        and month(createTime) = #{aMonth}
        ORDER BY year(createTime) DESC,month(createTime) DESC
    </select>


</mapper>